footer {
  position: fixed;
  bottom: 2px;
  width: 95%;
}

footer div {
  display: inline-block;
  height: 24px;
  width: 50%;
  vertical-align: middle;
}

footer div:first-child {
  text-align: left;
}

footer div:last-child {
  text-align: right;

  p {
    display: inline-block;
    font-size: 8px;
    text-transform: uppercase;
    font-family: monospace;
    margin-top: 2px;
  }
}

footer p {
  text-align: center;
}

a.nav__pete {
  position: relative;
  margin-left: 6px;
}

a.nav__pete:hover {
  cursor: pointer;
}

a.nav__pete svg {
  position: relative;
  top: 3px;
  transform: scale3d(1,1,1);
}

a.nav__trending,
a.nav__pete svg path {
  transition: 125ms;
  transition-timing-function: ease-in-out;
}

a.nav__pete:hover svg path {
  fill: rgba(248,74,89,1);
}
