.arrow-box {
  position: relative;
  background: rgba(0, 0, 0, 0);
  border-top: 10px solid rgba(0, 0, 0, 0);
  overflow: hidden;
}

.arrow-box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  border-width: 10px;
  margin-left: -10px;
}

.search-box {
  position: fixed;
  overflow: scroll;
  height: 100%;
  background: #000;
  border-top: 10px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0 10px 0;
  border-bottom: 10px solid #000;
}

.offline {
  position: fixed;
  overflow: scroll;
  height: 200px;
  width: 100%;
  background: #000;
  border-top: 10px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 10px;
  border-bottom: 10px solid #000;
  width: calc(100% - 20px);
}

body {
  height: 600px;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.fixed-content {
  padding: 10px 10px;
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  z-index: 99;
}

h1 {
  color: white;
  font-size: 1.8em;
  text-align: center;
}

p {
  font-size: 75%;
  color: hsla(360, 100%, 100%, 0.5);
}

a {
  color: hsla(360, 100%, 100%, 1);
}

a:hover {
  color: rgba(248,74,89,1);
}

/* Hide the scrollbar */
.search-box::-webkit-scrollbar {
  width: 0;
}
