.arrow-box {
  position: relative;
  background: rgba(0, 0, 0, 0);
  border-top: 10px solid rgba(0, 0, 0, 0);
  overflow: hidden;
}

.arrow-box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  border-width: 10px;
  margin-left: -10px;
}

.app {
  background: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 10px solid #000;
  height: 600px;
  width: 400px;
}

.search-results {
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;

  /* Hardware acceleration for scrolling */
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0,0,0);
}

body {
  height: 600px;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: 1.4em;
  text-align: center;
}

p {
  font-size: 75%;
  color: hsla(360, 100%, 100%, 0.5);
}

a {
  color: hsla(360, 100%, 100%, 1);
}

a:hover {
  color: rgba(248,74,89,1);
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0;
}
