.gif-list-container {
  margin-bottom: 66px;
}

.gif-list {
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
}

.gif-list img {
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
  vertical-align: middle;
}

.gif-list img:hover {
  cursor: pointer;
}
