/* Form */
.form-holder {
  margin-bottom: 10px;
}

input,
button {
  display: inline-block;
  line-height: 115%;
  height: 40px;
  vertical-align: top;
  border: none;
}

input {
  font-size: 1.5em;
  padding: 10px 6px;
  width: 90%;
}

button {
  width: 10%;
  background: -webkit-linear-gradient(45deg, rgba(138,0,248,1) 0%, rgba(248,74,89,1) 100%); /* safari5.1+, chrome10+ */
  padding: 2px 0 0 3px;
}
