.gif-list-container {
  margin: 0 auto 66px;
  padding: 0 10px 10px;
  width: 400px;
}

.gif-list {
 -webkit-column-count: 2;
 -webkit-column-gap: 0;
 width: 400px;
}

.gif-list img {
 display: inline-block;
 margin-bottom: 0px;
 width: 100%;
 vertical-align: middle;
}

.gif-list img:hover {
  cursor: pointer;
}
