{
  "development": {
    "ga_ua_id": "UA-47975020-4",
    "giphy_url": "http://api.giphy.com/v1/gifs",
    "giphy_api_key": "dc6zaTOxFJmzC"
  },
  "production": {
    "ga_ua_id": "UA-47975020-4",
    "giphy_url": "http://api.giphy.com/v1/gifs",
    "giphy_api_key": "dc6zaTOxFJmzC"
  }
}
